{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
    <!-- Scripts de Bootstrap y jQuery -->

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

   {% tailwind_css %}
</head>
<body>   
    {% load template_tags %}

    {% block body %}
    {% endblock %}
 
    
</body>
</html>