{% extends "base.html" %}

{% block title %}Agendar Nueva Cita{% endblock %}

{% block body %}
<div class="background" style="background: url('/static/img/fondo.png') no-repeat center center/cover; ; height: 95%; width: 96%;;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="loginContainer">
                <div class="loginBox">
                    <h2>AGENDAR NUEVA CITA</h2>
                    <form action="{% url 'auth_cita' %}" method="post" novalidate>
                        {% csrf_token %}
    
                        <div class="dataUser"> 
                            <p class="card-text text-center">Estos datos serán compartidos para registrar tu cita:</p>
                            <div class="px-5">
                                <table>
                                    <tr>
                                        <td class="jalada"><strong>Nombre</strong></td>
                                        <td class="jalada">{{ form.cliente.get_full_name }}</td>
                                    </tr>
                                    <tr>
                                        <td class="jalada"><strong>Teléfono</strong></td>
                                        <td class="jalada">{{ form.cliente.telefono }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Correo</strong></td>
                                        <td>{{ form.cliente.email }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
    
                        <div class="row d-flex justify-content-center mb-3">
                            <div class="col-sm-12 col-md-12 col-lg-6 d-flex mt-3">
                                <div class="card rounded-1 p-3 flex-fill">
                                    <div id="datepicker" data-date="12/03/2012"></div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6 d-flex mt-3">
                                <div class="card rounded-1 p-3 flex-fill">
                                    <h4 class="card-title text-center my-3">Datos de tu cita</h4>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                                                <path
                                                    d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z" />
                                                <path
                                                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                                            </svg>
                                        </span>
                                </div>

                                <div class="form-floating mb-3">
                                    {{ form.horario }}
                                    <label for="horario" class="form-label">{{ form.horario.label }}</label>
                                </div>

                                <div class="form-floating mb-3">
                                    {{ form.categoria }}
                                    <label for="categoria" class="form-label">{{ form.categoria.label }}</label>
                                </div>

                                <div class="form-control mb-3">
                                    <label for="servicios" class="form-label small text-muted d-flex">{{ form.servicios.label }}</label>
                                    {{ form.servicios }}
                                </div>

                            </div>
                        </div>
                    </div>
                    <input class="loginBTN" type="submit" name="submit" id="submit" style="width: 15%;">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script defer>
    $.fn.datepicker.dates['es'] = {
        days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        daysShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
        daysMin: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        today: 'Hoy',
        clear: 'Limpiar',
        format: 'dd/mm/yyyy',
        titleFormat: "MM yyyy",
        weekStart: 1
    };

    const picker = $('#datepicker').datepicker({
        language: 'es-419',
        todayHighlight: true,
        changeMonth: false,
        changeYear: false,
        maxViewMode: 1,
        format: 'yyyy-mm-dd',
        startDate: new Date(),
        endDate: new Date(new Date().getFullYear(), new Date().getMonth() + 3, 0)
    });

    picker.on('changeDate', function (evt) {
        let data = picker.datepicker('getFormattedDate')
        let input = document.getElementById('id_fecha_cita')
        if (input) {
            input.setAttribute('value', data)
            delHorarios()
            getHorarios(evt.date.getFullYear(), evt.date.getMonth(), evt.date.getDate())
        }
    });
    $(document.querySelectorAll('.datepicker')).addClass('w-100')
    $(document.querySelectorAll('.table-condensed')).addClass('table').removeClass('table-condensed')

    const categoria = document.getElementById('id_categoria')
    if (categoria) {
        categoria.addEventListener('input', evt => {
            del()
            api(`${evt.target.value}`)
        })
    }

    function del() {
        let element = document.getElementById('id_servicios')
        if (element) {
            while(element.firstChild)
                element.removeChild(element.firstChild)
        }
    }

    function insert(name, value) {
        let element = document.getElementById('id_servicios')
        if (element) {
            let template = `
            <label for="id_servicios_0">
                <input type="checkbox" name="servicios" value="${value}" class="form-check-inline" id="id_servicios_0">
                 ${name}
            </label>`
            new_ele = document.createElement('div')
            new_ele.innerHTML = template
            element.insertAdjacentElement('beforeend', new_ele)
        }
    }

    function api(categoria) {
        fetch(`/api/servicios/${categoria}?format=json`, {
            method: 'GET', // O 'POST', 'PUT', 'DELETE'
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{csrf_token}}' // Solo si es POST o PUT
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.length > 0) {
                for(var i = 0; i < data.length; i++)
                    insert(data[i].nombre, data[i].id)
            }
        })
        .catch(error => console.error('Error:', error));
    }



    function delHorarios() {
        let element = document.getElementById('id_horario')
        if (element) {
            while(element.firstChild)
                element.removeChild(element.firstChild)
        }
    }

    async function getHorarios(year, month, day) {
        try {
            const response = await fetch(`/api/horarios/${year}/${month+1}/${day}?format=json`, {
                method: 'GET', // O 'POST', 'PUT', 'DELETE'
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{csrf_token}}' // Solo si es POST o PUT
                }
            });

            if (!response.ok) {
                throw new Error(`Response status: ${response.status}`);
            }
            
            const json = await response.json();            
            let element = document.getElementById('id_horario')
            if (element) {
                if (json.length == 0) {
                    let title = `<option value="NA">Sin horarios disponibles para esta fecha</option>`
                    let base_elem = document.createElement('template')
                    base_elem.innerHTML = title.trim()
                    element.insertAdjacentElement('beforeend', base_elem.content.firstElementChild)
                    return
                }


                let title = `<option value="NA">Selecciona un horario</option>`
                let base_elem = document.createElement('template')
                base_elem.innerHTML = title.trim()
                element.insertAdjacentElement('beforeend', base_elem.content.firstElementChild)

                console.log(`\u{1F6A8} \u{26A0} \u{2705} Horarios disponibles:`);
                json.forEach(d => {
                    let template = `<option value="${d[0]}">\u{2705} ${d[1]}</option>`
                    new_ele = document.createElement('div')
                    new_ele.innerHTML = template
                    element.insertAdjacentElement('beforeend', new_ele)
                })
            }
                
        } catch (error) {
            console.error(`Fetch error: ${error.message}`);
        }
    }
</script>
{% endblock %}