{% extends 'base.html' %}

{% block title %}Editar Datos{% endblock %}

{% block nav %}
<ul class="nav nav-pills" id="navIndex">
    <li>
    <a class="btnNav" href="{% url 'auth_index' %}">
      Regresar a Inicio
    </a>
    </li>
</ul>
{% endblock %}

{% block body %}
<div class="min-h-screen pt-20 pb-10 px-3 bg-gradient-to-r from-pink-400 via-purple-500 to-blue-500">
    <div class="max-w-3xl mx-auto">
        <div class="bg-white/80 backdrop-blur-lg rounded-2xl shadow-2xl p-8">
            <form action="{% url 'auth_editar_usuario' %}" method="post" novalidate class="space-y-4">
                <h2 class="text-center text-3xl font-extrabold text-pink-600 mb-6">Editar datos personales</h2>
                {% csrf_token %}
                    <div class="form-container"> <!-- Contenedor para los campos -->
                        {% for field in form %}
                        <div class="inputGroup"> <!-- Cada campo se envuelve en un div -->
                            {{ field.label }}
                            {{ field }}
                            {% include "macro_form_error.html" with field=field.name %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ mensaje }}
                    </div>
                    
                    <div>
                        <input class="loginBTN" style="width: 25%;" type="submit" name="submit" id="submit" value="Enviar">
                    </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
