{% extends "base.html" %}
{% load static %}
{% block title %}Nails by Marin{% endblock %}

{% block nav %}
<ul class="nav nav-pills" id="navIndex">
  <li>
  <a class="btnNav" href="{% url 'auth_login' %}">
    Iniciar Sesion
  </a>
  </li>
</ul>
{% endblock %}

{% block body %}
<div id="contentIndex">
  <img src="{% static 'img/logoAlt.png' %}" alt="Logo" class="logoAlt">
</div>
;<div id="btnMainContent">
  <a class="btnAindex" href="{% url 'auth_cita' %}">
    Registrar Cita
  </a>
</div>
{% endblock %}