{% extends "base.html" %}
{% load static %}
{% block title %}Iniciar Sesión{% endblock %}
{% block nav %}
<ul class="nav nav-pills" id="navIndex">
    <li>
    <a class="btnNav" href="{% url 'auth_index' %}">
      Regresar a Inicio
    </a>
    </li>
  </ul>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-xxl-4 col-xl-5 col-lg-7 col-md-8 col-sm-10">
            <div class="card p-3 loginContainer">
                <h4 class="singUpTxth4">INICIAR SESIÓN</h4>

                <form action="{% url 'auth_login' %}" method="post" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.credential.label }}
                        {{ form.credential }}
                        {% include "macro_form_error.html" with field='credencial' %}
                    </div>
                    <div class="mb-3">
                        {{ form.password.label }}
                        {{ form.password }}
                        {% include "macro_form_error.html" with field='credencial' %}
                    </div>
                    <div class="mb-3">
                        {{ mensaje }}
                    </div>
                    
                    <input class="btnLogin" type="submit" name="submit" id="submit" value="Iniciar Sesión">
                    <a class="btnA" href="{% url 'auth_registro' %}">Registrarse</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
