{% if messages %}
{% for message in messages %}

{% if 'error' in message.tags %}
<div class="flex items-center bg-red-500 text-white rounded shadow w-full my-2 p-2 border-0" role="alert"
	aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
	<div class="flex flex-grow">
		<div class="flex-grow">
			<small>{{ message }}</small>
		</div>
		<button type="button" class="text-white ml-4 hover:text-gray-300 focus:outline-none" aria-label="Close"
			tabindex="-1" onclick="this.parentElement.parentElement.remove()">
			✕
		</button>
	</div>
</div>
{% endif %}

{% if 'success' in message.tags %}
<div class="flex items-center bg-green-500 text-white rounded shadow w-full my-2 p-2 border-0" role="alert"
	aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
	<div class="flex flex-grow">
		<div class="flex-grow">
			<small>{{ message }}</small>
		</div>
		<button type="button" class="text-white ml-4 hover:text-gray-300 focus:outline-none" aria-label="Close"
			tabindex="-1" onclick="this.parentElement.parentElement.remove()">
			✕
		</button>
	</div>
</div>
{% endif %}

{% endfor %}
{% endif %}
