{% extends "base.html" %}

{% block title %}Regístrate{% endblock %}

{% block nav %}
<ul class="nav nav-pills" id="navIndex">
    <li>
    <a class="btnNav" href="{% url 'auth_index' %}">
      Regresar a Inicio
    </a>
    </li>
  </ul>
{% endblock %}

{% block body %}
<div class="background" style="background: url('/static/img/fondo.png') no-repeat center center/cover;">
    <div class="loginContainerR">
        <div class="loginBox">
                <form action="{% url 'auth_registro' %}" method="post" novalidate>
                    <h2 class="loginT">REGISTRAR CUENTA</h2>
                    {% csrf_token %}
                    <div class="form-container"> <!-- Contenedor para los campos -->
                        {% for field in form %}
                        <div class="inputGroup"> <!-- Cada campo se envuelve en un div -->
                            {{ field.label }}
                            {{ field }}
                            {% include "macro_form_error.html" with field=field.name %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ mensaje }}
                    </div>
                    
                    <input class="loginBTN" type="submit" name="submit" id="submit" value="Enviar" style="width: 30%;">
                </form>
        </div>
    </div>
</div>
{% endblock %}
