@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
h1 {
    font-family: 'Poppins', sans-serif;
    color: aquamarine;
}
#contentIndex{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#navIndex{
    padding-right: 50px;
}
.btnNav{
    font-family: 'Poppins', sans-serif;
    background-color: #9F7FB1;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: inline-block;
}
.btnNav:hover{
    background-color: #EDBDE7;
    color: black;
    transform: scale(1.05);
}
.btnBody{
    font-family: 'Poppins', sans-serif;
    background-color: #F9E7D1;
    color: black;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btnBody:hover{
    background-color: #9F7FB1;
    color: white;
    transform: scale(1.1);
}
/*#btnLogin{
    background-color: #9F7FB1;
    color: white;
    border-radius: 15px;
    border: none;
}*/
.footPage{
    font-family: 'Poppins', sans-serif;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
#logoPrincipal {
    width: 300px;
    height: 300px;
}

#btnMainContent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.singUpTxth4{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #786285;

}
.btnLogin{
    font-family: 'Poppins', sans-serif;
    background-color: #E892BF;
    color: black;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-bottom: 3px;
}
.btnLogin:hover{
    background-color: #9F7FB1;
    color: white;
    transform: scale(1.03);
}
.loginContainer{
    font-family: 'Poppins', sans-serif;
    background-color: #EDBDE7;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
}
body {
    background-image: url("/static/img/fondo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
.navbar {
    background: linear-gradient(to right, #9F7FB1 20%, #d4b5c8 50%, #F9E7D1 70%); /* Izquierda a derecha */
                
    padding: 15px;
    border: none;
    outline: none;
    box-shadow: none;
}
.navbarText{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 25px;
}
.logoAlt{
    width: 400px; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    max-width: 100%; /* Limita el ancho al 100% del contenedor */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
    object-position: center; /* Centra la imagen */
}
.labelLogin{
    font-family: 'Poppins', sans-serif;
    background-color: #F9E7D1;
    text-align: center;
    border-radius: 15px;
    border-color: #786285;
    color: #786285;
    display: block;
    margin-bottom: 10px;
    width: 100%;
}
.labelLogin:-webkit-autofill{
    -webkit-text-fill-color: #786285;
    transition: background-color 5000s ease-in-out 0s;
}
.btnA{
    font-family: 'Poppins', sans-serif;
    background-color: #9F7FB1;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.01s ease, background-color 0.2s ease;
    width: 100%;
    text-align: center;
}
.btnA:hover{
    background-color: #F9E7D1;
    color: black;
    transform: scale(1.02);
}
.containerReg{
    font-family: 'Poppins', sans-serif;
    background-color: #EDBDE7;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}
.labelReg{
    font-family: 'Poppins', sans-serif;
    background-color: #F9E7D1;
    text-align: center;
    border-radius: 15px;
    border-color: #786285;
    color: #786285;
    margin-bottom: 3px;
    padding: 2px;
}
.labelReg:-webkit-autofill{
    -webkit-text-fill-color: #786285;
    transition: background-color 5000s ease-in-out 0s;
}
.btnAindex{
    font-family: 'Poppins', sans-serif;
    background-color: #9F7FB1;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.01s ease, background-color 0.2s ease;
    text-align: center;
}
.btnAindex:hover{
    background-color: #F9E7D1;
    color: black;
    transform: scale(1.1);
}
.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
    gap: 20px; /* Espacio entre los campos */
}

.form-field {
    display: flex;
    flex-direction: column; /* Organiza el label y el input en columna */
}

.btnReg{
    font-family: 'Poppins', sans-serif;
    background-color: #E892BF;
    color: black;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-bottom: 3px;
}
.btnReg:hover{
    background-color: #9F7FB1;
    color: white;
    transform: scale(1.03);
}